<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet"  type=text/css  href="{{ url_for('static', filename='styles.css')}}">
		<title>Edit Item</title>
	</head>
	<body style="color:gray">
		<div id="header">
			<h1>Catalog App</h1>
			<button><a href="{{url_for('gdisconnect')}}">Logout</a></button>
		</div>
        <br>
        <br>
        <br>
        <br>
        <form  action= "#" method = "post">
            <div style=" width: 330px; height: 308px; border: -1px solid #d4cdcd;
                        background-color: #d4cdcd; padding-top: 3px; padding-left: 10px;">
                <h1 style="color:red">Edit Item</h1>
                <label for="name">Title:</label><br>
                <input type ="text" maxlength="100" name="name" value="{{item.title}}"><br><br>
                <label for="description">Description:</label><br>
                <input type ="text" maxlength="100" name="description" value="{{item.description}}">
                <br><br>
                <label for="catogries">Catogries:</label><br>
                <select name="category">
                    <option value="{{catogry_name}}">{{catogry_name}}</option>
                {% for i in All %}
                    {% if i.id != item.category_id %}
                    <option value="{{i.name}}">{{i.name}}</option>
                    {% endif %}
                {% endfor %}
                </select>
                <br><br>
                <button style="background-color: #dc1313; color:aliceblue; width: 147px;
                               font-size: 20px; border: 1px solid #dc1313;
                               font-weight: bold;"
                        type="submit"  id="submit" >Submit</button>
            </div>
        </form>
        <a href = "{{url_for('showCatalog')}}" style="position: relative; top:-59px; left: 113px;">
            <button style="background-color: #dc1313; color: aliceblue; width: 147px;
                           margin-left: 65px; font-size: 20px; border: 1px solid #dc1313;
                           font-weight: bold;">Cancel</button>
        </a>

	</body>
</html>

